<div class ="chat-header">
  <div class="group-name">
    hogefuga
  </div>
  <div class="chat-close">
    <a href="#">チャットを終了する</a>
  </div>

</div>

<div class="messages">
  <div class="message">
    <div class="message-info">
      <div class= "message-name">Tom</div>
      <div class= "message-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="message-content">
      おはよう
    </div>
  </div>
  <div class="message">
    <div class="message-info">
      <div class= "message-name">John</div>
      <div class= "message-date">2020/3/31(Wed) 12:47:54</div>
    </div>
    <div class="message-content">
      こんにちは
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input type="text" class="text-form" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" class="send-btn" value="送信">
</div>
